<a href="https://colab.research.google.com/github/ascle/colab_tcc2/blob/dev/2_conhecendo_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color=green>1 - Conhecendo os dados</font>
***

### Conectando no ambiente que será utilizado

Importação através o upload do arquivo

In [ ]:
#import pandas as pd
#dados = pd.read_csv('dn.csv')
#dados.head()

Importação através do Google Drive

In [1]:
from google.colab import drive
from os import chdir

import pandas as pd
import numpy as np
from pandas.api.types import is_numeric_dtype

drive.mount('/content/drive', force_remount=True)
chdir('/content/drive/MyDrive/UFS/tcc-2-ascle-ufs/bases/linkage_marco/')

Mounted at /content/drive

Outras configurações

In [ ]:
!pip install ipython-autotime
pd.set_option('display.max_columns', None)
%load_ext autotime

SEED = 7
np.random.seed(SEED)

### Importando pandas e lendo o dataset do projeto

https://pandas.pydata.org/

In [3]:
dados = pd.read_csv('dn.csv')
dados.sort_index(axis=1, inplace=True)
dados.head()

,ANO,APGAR1,APGAR5,CODANOMAL,CONSPRENAT,CONSULTAS,ESCMAE,ESCMAE2010,ESCMAEAGR1,ESTCIVMAE,GESTACAO,GRAVIDEZ,IDADEMAE,IDADEPAI,IDADE_OBT,IDANOMAL,LOCNASC,OBT_NEONATAL,PARTO,PESO,QTDFILMORT,QTDFILVIVO,QTDGESTANT,QTDPARTCES,QTDPARTNOR,RACACORMAE,SEMAGESTAC,SEM_NOME,SERIESCMAE,SEXO,STCESPARTO,STDNNOVA,STTRABPART,TPAPRESENT,TPDOCRESP,TPFUNCRESP,TPMETESTIM,TPNASCASSI
0,2015,NaN,NaN,NaN,NaN,7_e_mais,Nenhuma,NaN,NaN,Casada,37_a_41_semanas,Unica,37,NaN,NaN,Nao,Domicilio,Nao,Cesareo,3000.0,0.0,7.0,NaN,NaN,NaN,NaN,NaN,781,NaN,Feminino,NaN,Nao,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,NaN,NaN,NaN,NaN,de_4_a_6,4_a_7_anos,NaN,NaN,Casada,32_a_36_semanas,Unica,24,NaN,NaN,Nao,Domicilio,Nao,Cesareo,NaN,0.0,4.0,NaN,NaN,NaN,NaN,NaN,170214,NaN,Feminino,NaN,Nao,NaN,NaN,NaN,NaN,NaN,NaN
2,2016,NaN,NaN,NaN,NaN,7_e_mais,1_a_3_anos,NaN,NaN,Casada,37_a_41_semanas,Unica,30,NaN,NaN,Nao,Domicilio,Nao,Cesareo,2800.0,NaN,6.0,NaN,NaN,NaN,NaN,NaN,172507,NaN,Feminino,NaN,Nao,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,8.0,9.0,NaN,8.0,7_e_mais,Ignorado,Ignorado,Ignorado,Ignorado,37_a_41_semanas,Unica,20,NaN,NaN,Nao,Domicilio,Nao,Cesareo,3500.0,0.0,2.0,2.0,0.0,2.0,2.0,37.0,188964,NaN,Masculino,NaN,Sim,Nao,Ignorado,CPF,Medico,NaN,Outros
4,2015,2.0,4.0,NaN,5.0,de_4_a_6,Nenhuma,Sem_escolaridade,Sem_Escolaridade,Solteira,22_a_27_semanas,Unica,28,NaN,327.0,Nao,Hospital,Nao,Cesareo,820.0,1.0,2.0,3.0,NaN,3.0,2.0,26.0,188965,NaN,Masculino,NaN,Sim,Nao,Cefalico,COREN,Enfermeiro,Exame_fisico,Enfermeira/obstetriz

time: 2.98 s (started: 2023-09-07 11:23:56 +00:00)

## <font color=green>1.1 - Dataset do Projeto</font>
***

Adicionar texto falando sobre o dataset...

### Fonte dos Dados

Base de dados fornecida pelo Professor Marco...

### Informações gerais sobre a base de dados

In [4]:
print('A base de dados apresenta {} registros  e {} variáveis'.format(dados.shape[0], dados.shape[1]))

A base de dados apresenta 199772 registros  e 38 variáveis
time: 771 µs (started: 2023-09-07 11:24:07 +00:00)

In [15]:
tipos_de_dados = pd.DataFrame(dados.dtypes, columns=['Tipos de dados'])
tipos_de_dados.columns.name = 'Variável'

# Possui Nan
tipos_de_dados['ddd'] = tipos_de_dados.index

# Tipo de variável
tipos_de_dados['Tipo de variavel'] = tipos_de_dados.apply(
    lambda row: 'Categórico' if row['Tipos de dados'] == 'object' else 'Numérico',
    axis=1)

tipos_de_dados['% Null'] = tipos_de_dados.apply(lambda row: round(dados[row.ddd].isnull().sum()/dados.shape[0]*100, 2), axis=1)
#tipos_de_dados['Possui Nan'] = tipos_de_dados.apply(lambda row: 'Sim' if dados[row.ddd].isnull().values.any() else 'Não', axis=1)

# Intervalo de Valores
tipos_de_dados['Intervalo de Valores'] = tipos_de_dados.apply(lambda row: sorted(dados[row.ddd].unique()) if is_numeric_dtype(dados[row.ddd].dtype) else dados[row.ddd].unique(), axis=1)
tipos_de_dados.drop(columns=['ddd'], inplace=True)




tipos_de_dados

Variável,Tipos de dados,Tipo de variavel,% Null,Intervalo de Valores
ANO,int64,Numérico,0.00,"[2015, 2016, 2017, 2018, 2019, 2020]"
APGAR1,float64,Numérico,2.32,"[nan, 0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, ..."
APGAR5,float64,Numérico,2.26,"[nan, 0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, ..."
CODANOMAL,object,Categórico,98.79,"[nan, Q709, Q564, Q690, Q668, Q792Q793, Q699, ..."
CONSPRENAT,float64,Numérico,0.74,"[nan, 0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, ..."
CONSULTAS,object,Categórico,0.00,"[7_e_mais, de_4_a_6, de_1_a_3, Nenhuma, Ignorado]"
ESCMAE,object,Categórico,0.32,"[Nenhuma, 4_a_7_anos, 1_a_3_anos, Ignorado, 8_..."
ESCMAE2010,object,Categórico,0.34,"[nan, Ignorado, Sem_escolaridade, Fundamental_..."
ESCMAEAGR1,object,Categórico,0.34,"[nan, Ignorado, Sem_Escolaridade, Fundamental_..."
ESTCIVMAE,object,Categórico,0.39,"[Casada, Ignorado, Solteira, Uniao_consensual_..."
GESTACAO,object,Categórico,0.89,"[37_a_41_semanas, 32_a_36_semanas, 22_a_27_sem..."
GRAVIDEZ,object,Categórico,0.02,"[Unica, Dupla, nan, Tripla_e_mais, Ignorado]"
IDADEMAE,int64,Numérico,0.00,"[11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 2..."
IDADEPAI,float64,Numérico,84.28,"[nan, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0..."
IDADE_OBT,float64,Numérico,98.46,"[nan, 0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, ..."
IDANOMAL,object,Categórico,0.57,"[Nao, nan, Ignorado, Sim]"
LOCNASC,object,Categórico,0.00,"[Domicilio, Hospital, Outro_Estab_Saude, Outro..."
OBT_NEONATAL,object,Categórico,0.00,"[Nao, Sim]"
PARTO,object,Categórico,0.02,"[Cesareo, Vaginal, nan]"
PESO,float64,Numérico,0.02,"[100.0, 170.0, 188.0, 204.0, 230.0, 314.0, 334..."
QTDFILMORT,float64,Numérico,20.44,"[0.0, nan, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, ..."
QTDFILVIVO,float64,Numérico,11.44,"[0.0, 1.0, 2.0, 3.0, 4.0, 6.0, 7.0, nan, 5.0, ..."
QTDGESTANT,float64,Numérico,10.24,"[nan, 0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, ..."
QTDPARTCES,float64,Numérico,20.91,"[nan, 0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, ..."
QTDPARTNOR,float64,Numérico,13.47,"[nan, 0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, ..."
RACACORMAE,float64,Numérico,1.42,"[nan, 1.0, 2.0, 3.0, 4.0, 5.0, 9.0]"
SEMAGESTAC,float64,Numérico,0.91,"[nan, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0..."
SEM_NOME,int64,Numérico,0.00,"[781, 170214, 172507, 188964, 188965, 188966, ..."
SERIESCMAE,float64,Numérico,26.02,"[nan, 0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, ..."
SEXO,object,Categórico,0.00,"[Feminino, Masculino, Ignorado,_nao_informado]"
STCESPARTO,object,Categórico,57.12,"[nan, Nao, Nao_se_aplica, Sim, Ignorado]"
STDNNOVA,object,Categórico,0.00,"[Nao, Sim]"
STTRABPART,object,Categórico,0.52,"[nan, Nao, Sim, Ignorado]"
TPAPRESENT,object,Categórico,0.13,"[nan, Ignorado, Cefalico, Pelvica_ou_podalica,..."
TPDOCRESP,object,Categórico,0.02,"[nan, CPF, COREN, 0, CNES, CRM, RG]"
TPFUNCRESP,object,Categórico,0.05,"[nan, Medico, Enfermeiro, Outros, Funcionario_..."
TPMETESTIM,object,Categórico,25.58,"[nan, Exame_fisico, Ignorado, Outro_metodo]"
TPNASCASSI,object,Categórico,0.10,"[nan, Outros, Enfermeira/obstetriz, Medico, Ig..."

time: 550 ms (started: 2023-09-07 11:40:37 +00:00)

## <font color=green> 1.2 - Variáveis utilizadas</font>
***

Serão analisadas as variáveis relacionadas à mãe, a gestação e ao recém-nascido a saber:

### 1) Ano do registro

> <b>Tipo de variável</b>: Qualitativa ordinal.<br>

> <b>Nome do campo</b>: <font color=blue>ANO</font>.<br>
> <b>Descrição do campo</b>: ano de coleta do registro.<br>
> <b>Tipo do campo</b>: int64.<br>
> <b>Possui valores nulos</b>: Não.<br>
> <b>Intervalo de valores</b>: 2015, 2016, 2017, 2018, 2019, 2020<br>

In [ ]:
print(dados['ANO'].dtype)
print(dados['ANO'].isnull().values.any())
print('ANO {}'.format(sorted(dados['ANO'].unique())))

int64
False
ANO [2015, 2016, 2017, 2018, 2019, 2020]
time: 4.57 ms (started: 2023-09-04 17:51:31 +00:00)

### 2) Anomalia detectada

> <b>Base de origem</b>: SINASC.<br>
> <b>Tipo dos variável</b>: Qualitativa nominal.<br>

> <b>Nome da campo</b>: <font color=blue>CODANOMAL</font>.<br>
> <b>Descrição do campo</b>: Código da anomalia (CID-10).<br>
> <b>Tipo do campo</b>: object.<br>
> <b>Possui valores nulos</b>: Sim.<br>
> <b>Percentual de valores nulos</b>: 98,78%.<br>
> <b>Intervalo de valores</b>: .<br>

In [ ]:
print(dados['CODANOMAL'].dtype)
print(dados['CODANOMAL'].isnull().values.any())
print('CODANOMAL {}'.format(dados['CODANOMAL'].unique()))

object
True
CODANOMAL [nan 'Q709' 'Q564' 'Q690' 'Q668' 'Q792Q793' 'Q699' 'Q339' 'Q300'
 'Q659Q668' 'Q909' 'Q270' 'Q549' 'Q049Q379Q718' 'Q723Q740' 'Q540' 'Q929'
 'Q749' 'Q380' 'Q02X' 'Q793' 'Q359Q894' 'Q333' 'D180' 'Q758' 'Q669' 'Q359'
 'Q369' 'Q764' 'Q173' 'Q359Q665Q870' 'Q741' 'Q681' 'Q548Q641Q793' 'Q795'
 'Q040' 'Q189' 'Q759' 'Q799' 'Q379' 'Q719' 'Q059Q668' 'Q743' 'Q039Q359'
 'Q210' 'Q054' 'Q729' 'Q691' 'Q000' 'Q336Q613' 'Q019Q040Q309' 'Q709Q719'
 'Q268' 'Q039Q059Q668' 'Q160' 'Q175' 'Q660' 'Q659' 'Q665' 'Q664' 'Q701'
 'Q753' 'Q390' 'Q170Q270' 'Q057' 'Q438' 'Q385' 'Q313' 'Q523'
 'Q019Q039Q564Q699Q793' 'Q674' 'Q120Q749Q753' 'Q336' 'Q359Q743'
 'Q249Q749Q769' 'Q539' 'Q048Q059' 'Q668Q749' 'Q019' 'Q769' 'Q792' 'Q899'
 'Q059Q742' 'Q170' 'Q790Q913' 'Q833' 'Q356' 'Q794' 'Q661' 'Q158Q359Q699'
 'Q897' 'Q043Q049' 'Q039' 'Q878' 'Q663' 'Q386' 'Q763' 'Q713' 'Q213'
 'Q359Q380' 'Q02XQ759' 'Q059' 'Q742' 'Q722' 'Q182Q668Q752' 'Q668Q870'
 'Q174Q681Q682Q752' 'Q620' 'Q666' 'Q039Q753' 'Q019Q564Q792Q897'
 'Q658Q681Q741' 'Q069' 'Q174' 'Q723' 'Q165' 'Q336Q423Q532Q681'
 'Q549Q556Q668' 'Q103Q174Q709Q719Q729' 'Q019Q359Q564Q668Q898' 'Q02XQ909'
 'Q174Q719Q729Q759' 'Q103Q120Q170Q899' 'Q02XQ899' 'Q602' 'Q738' 'Q901'
 'Q749Q812' 'Q820' 'Q601Q699' 'Q02XQ668' 'Q668Q758' 'Q429' 'Q539Q742Q764'
 'Q02XQ039' 'Q019Q742' 'Q373' 'Q825' 'Q613' 'Q103Q174Q188Q668'
 'Q02XQ668Q748' 'Q103Q383' 'Q02XQ690' 'Q174Q270Q742' 'Q02XQ668Q718' 'Q692'
 'Q179Q690' 'Q849' 'Q731' 'Q039Q539Q549Q666Q740' 'Q02XQ748' 'Q774' 'Q249'
 'Q02XQ539' 'Q188' 'Q682' 'Q02XQ270' 'Q189Q668Q758Q917' 'Q02XQ048' 'Q527'
 'Q249Q658Q668' 'Q059Q210Q668' 'Q02XQ059' 'Q423' 'Q539Q742' 'Q183'
 'Q249Q391Q549' 'Q103Q158Q174' 'Q02XQ188Q359Q668' 'Q02XQ539Q742'
 'Q249Q909' 'Q02XQ043Q668' 'Q039Q043Q668Q740' 'Q031' 'Q179Q423Q549'
 'Q359Q539Q668' 'Q351' 'Q378' 'Q02XQ031' 'Q539Q620' 'Q02XQ549Q742'
 'Q390Q564Q794' 'Q039Q564Q740Q742Q753' 'Q02XQ758' 'Q459' 'Q790' 'Q359Q369'
 'Q359Q360' 'Q170Q626' 'Q174Q668Q748Q753' 'Q894' 'Q606' 'Q158Q160Q308'
 'Q000Q248Q359Q369' 'Q531' 'Q559' 'Q870' 'Q174Q752' 'Q039Q059' 'Q530Q758'
 'Q174Q188' 'Q188Q668Q681' 'Q759Q833' 'Q103' 'Q360' 'Q206' 'Q700'
 'Q664Q909' 'Q564Q989' 'Q549Q552Q556Q564' 'Q02XQ539Q549' 'Q02XQ174' 'Q748'
 'Q539Q668Q740Q742' 'Q103Q752' 'Q000Q158' 'Q530' 'Q039Q249' 'Q351Q753'
 'Q552Q685' 'Q369Q752' 'Q381Q699Q709' 'Q669Q681' 'Q336Q792' 'Q678Q764'
 'Q423Q668Q794' 'Q752' 'Q174Q719' 'Q059Q549Q668' 'Q070Q174' 'Q369Q668'
 'Q685' 'Q179' 'Q039Q174Q183Q749Q752' 'Q270Q668Q709Q716' 'Q549Q709' 'Q050'
 'Q718' 'Q188Q917' 'Q556' 'Q423Q620' 'Q059Q174Q668' 'Q447' 'Q450' 'Q161'
 'Q248' 'Q02XQ668Q743' 'Q234Q699' 'Q174Q794' 'Q189Q385' 'Q681Q740'
 'Q668Q792' 'Q702Q723' 'Q670' 'Q529' 'Q070' 'Q221' 'Q053' 'Q550' 'Q898'
 'Q059Q682' 'Q103Q174Q674' 'Q174Q183Q188Q668' 'Q688' 'Q700Q702' 'Q532'
 'Q699Q709' 'Q188Q729Q899' 'Q809' 'Q771' 'Q703' 'Q188Q668' 'Q069Q664'
 'Q548' 'Q039Q054' 'Q690Q703' 'Q249Q668' 'Q158Q423Q668Q700Q703' 'Q672'
 'Q558' 'Q179Q379Q699' 'Q379Q690' 'Q289' 'Q667' 'Q048' 'Q042Q249' 'Q049'
 'Q651' 'Q010' 'Q382' 'Q174Q738Q758' 'Q189Q668' 'Q660Q710Q720' 'Q174Q728'
 'Q791' 'Q778' 'Q550Q668' 'Q174Q672' 'Q359Q549' 'Q423Q564Q742Q897'
 'Q103Q174Q308' 'Q359Q564Q753' 'Q666Q740' 'Q018' 'Q690Q692Q700Q702' 'Q201'
 'Q249Q899' 'Q902' 'Q120Q359Q369Q690Q740' 'Q039Q668Q699Q799' 'Q212'
 'Q059Q336Q668Q792' 'Q174Q674' 'Q059Q792' 'Q172' 'Q039Q759' 'Q549Q558'
 'Q059Q658Q668' 'Q174Q189Q902' 'Q353' 'Q374' 'Q730' 'Q564Q897' 'Q678'
 'Q690Q692' 'Q110Q112Q564Q752' 'Q150Q174Q183Q308Q359'
 'Q040Q174Q379Q564Q713' 'Q031Q249Q308Q681' 'Q251' 'Q174Q386Q759'
 'Q039Q059Q120Q549' 'Q103Q174Q740Q913' 'Q913' 'Q178' 'Q381' 'Q359Q668'
 'Q174Q742' 'Q02XQ249Q301Q359' 'Q528' 'Q019Q02X' 'Q380Q385' 'Q727' 'Q640'
 'Q670Q752' 'Q559Q899' 'Q423Q564' 'Q174Q559Q668' 'Q174Q189Q308' 'Q174Q711'
 'Q170Q829' 'Q170Q690' 'Q359Q750' 'Q552' 'Q059Q660' 'Q234Q248' 'Q174Q308'
 'Q039Q321Q423Q549Q552' 'Q158Q174Q308' 'Q668Q723Q738' 'Q183Q308Q738Q759'
 'Q179Q530' 'Q702Q718' 'Q401' 'Q359Q663' 'Q652' 'Q740' 'Q524' 'Q549Q681'
 'Q846' 'Q204Q249' 'Q560' 'Q748Q809' 'Q179Q359' 'Q174Q758' 'Q174Q189Q752'
 'Q169' 'Q360Q699Q792' 'Q183Q613' 'Q189Q359' 'Q174Q336Q668Q740' 'Q189Q738'
 'Q042Q301Q359Q371Q668' 'Q917' 'Q103Q174Q674Q752' 'Q661Q728Q749'
 'Q172Q178' 'Q189Q373Q668Q681' 'Q189Q740Q742Q769' 'Q019Q183Q423'
 'Q012Q160Q189Q532Q674' 'Q668Q793' 'Q272Q336Q606' 'Q02XQ158Q301' 'Q638'
 'Q042Q699Q870' 'Q532Q668' 'Q308Q359Q369' 'Q558Q690' 'Q189Q690Q897'
 'Q174Q308Q382Q909' 'Q039Q539' 'Q549Q838' 'Q601' 'Q423Q902' 'Q668Q759'
 'Q270Q423Q539Q600Q615' 'Q174Q308Q681' 'Q038' 'Q359Q709' 'Q103Q308Q909'
 'Q780' 'Q669Q690' 'Q070Q174Q674' 'Q174Q308Q758' 'Q174Q178Q380' 'Q765'
 'Q380Q699' 'Q174Q740' 'Q042Q369' 'Q174Q188Q674Q909' 'Q103Q174Q188Q752'
 'Q012Q619Q668Q678Q729' 'Q270Q359Q369' 'Q647Q792' 'Q709Q713Q723'
 'Q059Q564Q647Q792Q793' 'Q039Q059Q248Q458Q668' 'Q039Q356Q681Q740'
 'Q000Q048' 'Q170Q178' 'Q713Q719' 'Q012' 'Q059Q336Q359Q423Q564'
 'Q174Q674Q681' 'Q359Q369Q690Q699' 'Q039Q668Q753' 'Q174Q301' 'Q605' 'Q818'
 'Q549Q552' 'Q623' 'Q02XQ078' 'Q103Q713Q848' 'Q249Q379Q792' 'Q658'
 'Q103Q174Q564Q709' 'Q039Q189Q539Q549' 'Q188Q709' 'Q713Q718Q723' 'Q321'
 'Q019Q178Q308' 'Q059Q069Q308Q562Q716' 'Q668Q674Q898' 'Q668Q898'
 'Q161Q172' 'Q638Q699Q758' 'Q174Q564Q699' 'Q039Q170' 'Q249Q792' 'Q159'
 'Q301Q379Q672Q743' 'Q174Q188Q768' 'Q665Q704' 'Q101Q709' 'Q188Q383Q793'
 'Q158' 'Q188Q359' 'Q359Q674' 'Q541' 'Q668Q843' 'Q249Q422'
 'Q174Q188Q674Q752Q828' 'Q423Q641Q649Q668' 'Q620Q795' 'Q678Q719Q729Q770'
 'Q225' 'Q668Q719Q729' 'Q244' 'Q103Q674' 'Q690Q699' 'Q103Q174Q558Q752Q828'
 'Q161Q165' 'Q375' 'Q174Q369' 'Q02XQ112Q308' 'Q042Q564Q639Q999' 'Q043'
 'Q702' 'Q103Q174Q183' 'Q048Q532Q668Q798' 'Q174Q668'
 'Q068Q435Q668Q749Q778' 'Q439' 'Q699Q719Q729Q753Q792' 'Q369Q729'
 'Q174Q663Q665' 'Q174Q189Q758' 'Q660Q909' 'Q435' 'Q755' 'Q421'
 'Q112Q172Q359Q369Q532' 'Q774Q969' 'Q174Q559Q690Q692Q752'
 'Q439Q539Q668Q792' 'Q369Q549' 'Q059Q699' 'Q059Q558Q668' 'Q668Q753'
 'Q000Q111Q423Q564Q639' 'Q539Q549Q668Q674Q719' 'Q664Q870' 'Q560Q898'
 'Q680' 'Q249Q390' 'Q161Q174Q556Q668Q759' 'Q112Q174Q748Q758' 'Q386Q760'
 'Q668Q741Q820' 'Q611Q678Q728' 'Q668Q712Q713' 'Q183Q564Q668Q740Q759'
 'Q165Q369Q423' 'Q436' 'Q753Q793' 'Q043Q753' 'Q564Q641' 'Q212Q251' 'Q371'
 'Q872' 'Q674Q752' 'Q160Q161Q690' 'Q019Q359Q759' 'Q690Q709' 'Q02XQ560'
 'Q372' 'Q174Q668Q740' 'Q336Q719Q729Q771' 'Q666Q668' 'Q681Q713Q753Q792'
 'Q248Q308Q458Q792Q795' 'Q174Q249Q359Q369Q564' 'Q336Q423Q532Q549Q668'
 'Q549Q792' 'Q039Q174Q338Q564Q668' 'Q423Q549Q666Q701Q792'
 'Q174Q249Q359Q728Q752' 'Q042Q048Q111Q303Q602' 'Q539Q549Q564'
 'Q02XQ059Q174' 'Q768' 'Q831' 'Q02XQ681' 'Q278Q564Q668' 'Q713Q716'
 'Q02XQ749' 'Q203']
time: 15.6 ms (started: 2023-09-04 17:51:31 +00:00)

In [11]:
print('Quantidade NaN: {}'.format(dados['CODANOMAL'].isnull().sum()))
print('Percentual NaN: {}'.format(round(dados['CODANOMAL'].isnull().sum()/dados.shape[0]*100, 2)))

Quantidade NaN: 197349
Percentual NaN: 98.79
time: 115 ms (started: 2023-09-07 11:29:06 +00:00)

### 3) Apgar no primeiro minuto

A escala de Apgar foi proposta em 1953 pela médica Virgínia Apgar, inicialmente sendo uma rápida análise clínica do recém-nascido. Após mudanças, a escala tornou-se um padrão de avaliação do bebê, sendo a soma de cinco sinais, determinados nos primeiros um e cinco minutos de vida da criança. É uma avaliação feita na sala de parto e a pontuação é anotada na Caderneta da Criança.

Os sinais são avaliados e, para cada um, é aplicada uma nota que varia de zero, nota que indica a ausência do sinal, e dois, nota que indica a plena existência desse sinal. Os sinais avaliados são: força muscular, frequência de batimentos do coração, reflexo, respiração e cor. A somatória desses sinais gera uma nota que varia de 0 a 10.

O Apgar é afetado pela idade gestacional, pelo uso de medicações pela gestante, por condições neurológicas do recém-nascido e por possíveis manobras de intervenção cardiorrespiratória que ele demande.

**Referência:**

https://www.medicina.ufmg.br/observaped/escala-de-apgar/

> <b>Base de origem</b>: SINASC.<br>
> <b>Tipo de variável</b>: Quantitativa discreta.<br>

> <b>Nome da campo</b>: <font color=blue>APGAR1</font>.<br>
> <b>Descrição do campo</b>: Apgar no 1º minuto 00 a a10.<br>
> <b>Tipo da campo</b>: float64.<br>
> <b>Possui valores nulos</b>: Sim.<br>
> <b>Percentual de valores nulos</b>: 2,31%.<br>
> <b>Intervalo de valores</b>: nan, 0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 99.0.<br>

In [ ]:
print(dados['APGAR1'].dtype)
print(dados['APGAR1'].isnull().values.any())
print('APGAR1 {}'.format(sorted(dados['APGAR1'].unique())))

float64
True
APGAR1 [nan, 0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 99.0]
time: 5.07 ms (started: 2023-09-04 17:51:32 +00:00)

In [ ]:
print('Quantidade NaN: {}'.format(dados['APGAR1'].isnull().sum()))
print('Percentual NaN: {}'.format(dados['APGAR1'].isnull().sum()/dados.shape[0]*100))

Quantidade NaN: 4630
Percentual NaN: 2.3176421120076887
time: 2.28 ms (started: 2023-09-04 17:51:32 +00:00)

### 4) Apgar no quinto minuto

> <b>Base de origem</b>: SINASC.<br>
> <b>Tipo de variável</b>: Quantitativo discretos.<br>

> <b>Nome do campo</b>: <font color=blue>APGAR5</font>.<br>
> <b>Descrição do campo</b>: Apgar no 5º minuto 00 a 10.<br>
> <b>Tipo do campo</b>: float64.<br>
> <b>Possui valores nulos</b>: Sim.<br>
> <b>Intervalo de valores</b>: nan, 0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 99.0.<br>

In [ ]:
print(dados['APGAR5'].dtype)
print(dados['APGAR5'].isna().unique())
print('APGAR5 {}'.format(sorted(dados['APGAR5'].unique())))

float64
[ True False]
APGAR5 [nan, 0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 99.0]
time: 10.5 ms (started: 2023-09-04 17:51:32 +00:00)

In [ ]:
print('Quantidade NaN: {}'.format(dados['APGAR5'].isnull().sum()))
print('Percentual NaN: {}'.format(dados['APGAR5'].isnull().sum()/dados.shape[0]*100))

Quantidade NaN: 4510
Percentual NaN: 2.2575736339426946
time: 4.4 ms (started: 2023-09-04 17:51:32 +00:00)

### 5) Escolaridade da mãe


> <b>Base de origem</b>: SIM e SINASC.<br>
> <b>Tipo de variável</b>: Qualitativo ordinal.<br>

> <b>Nome do campo</b>: <font color=blue>SERIESCMAE</font>.<br>
> <b>Descrição do campo</b>: Última série escolar concluída pela mãe. (Números de 1 a 8).<br>
> <b>Tipo do campo</b>: float64.<br>
> <b>Possui valores Nulos</b>: Sim.<br>
> <b>Intervalo de valores</b>: nan, 0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0.<br>


> <b>Nome do campo</b>: <font color=blue>ESCMAE</font>.<br>
> <b>Descrição do campo</b>: Escolaridade da mãe em anos. (1 – Nenhuma; 2 – de 1 a 3 anos; 3 – de 4 a 7 anos; 4 – de 8 a 11 anos; 5 – 12 anos e mais; 9 – Ignorado).<br>
> <b>Tipo do campo</b>: object.<br>
> <b>Possui valores Nulos</b>: Sim.<br>
> <b>Intervalo de valores</b>: 'Nenhuma' '4_a_7_anos' '1_a_3_anos' 'Ignorado' '8_a_11_anos' '12_e_mais'
 nan '0'.<br>

> <b>Nome do campo</b>: <font color=blue>ESCMAE2010</font>.<br>
> <b>Descrição do campo</b>: Escolaridade 2010. Nível da última série concluída pela mãe. (0 – Sem escolaridade; 1 – Fundamental I (1ª a 4ª série); 2 – Fundamental II (5ª a 8ª série); 3 – Médio (antigo 2º Grau); 4 – Superior incompleto; 5 – Superior completo; 9 – Ignorado).<br>
> <b>Tipo do campo</b>: object.<br>
> <b>Possui valores Nulos</b>: Sim.<br>
> <b>Intervalo de valores</b>: nan 'Ignorado' 'Sem_escolaridade' 'Fundamental_II_(5a_a_8a_serie)'
 'Fundamental_I_(1a_a_4a_serie)' 'Medio_(antigo_2o_Grau)'
 'Superior_incompleto' 'Superior_completo'.<br>

> <b>Nome do campo</b>: <font color=blue>ESCMAEAGR1</font>.<br>
> <b>Descrição do campo</b>: Escolaridade da mãe agregada (formulário a partir de 2010).<br>
> <b>Tipo do campo</b>: object.<br>
> <b>Possui valores Nulos</b>: Sim.<br>
> <b>Intervalo de valores</b>: nan 'Ignorado' 'Sem_Escolaridade'
 'Fundamental_II_Incompleto_ou_Inespecifico' 'Fundamental_I_Incompleto'
 'Ensinomedio_Incompleto_ou_Inespecifico' 'Fundamental_II_Completo'
 'Fundamental_I_Incompleto_ou_Inespecifico' 'Ensino_Medio_Completo'
 'Fundamental_II_Incompleto' 'Superior_Incompleto'
 'Fundamental_I_Completo' 'Ensino_Medio_Incompleto' 'Superior_Completo'.<br>

In [ ]:
print(dados['SERIESCMAE'].isna().unique())
print(dados['SERIESCMAE'].dtype)
print('SERIESCMAE {}'.format(sorted(dados['SERIESCMAE'].unique())))
print()
print(dados['ESCMAE'].isna().unique())
print(dados['ESCMAE'].dtype)
print('ESCMAE {}'.format(dados['ESCMAE'].unique()))
print()
print(dados['ESCMAE2010'].isna().unique())
print(dados['ESCMAE2010'].dtype)
print('ESCMAE2010 {}'.format(dados['ESCMAE2010'].unique()))
print()
print(dados['ESCMAEAGR1'].isna().unique())
print(dados['ESCMAEAGR1'].dtype)
print('ESCMAEAGR1 {}'.format(dados['ESCMAEAGR1'].unique()))

[ True False]
float64
SERIESCMAE [nan, 0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0]

[False  True]
object
ESCMAE ['Nenhuma' '4_a_7_anos' '1_a_3_anos' 'Ignorado' '8_a_11_anos' '12_e_mais'
 nan '0']

[ True False]
object
ESCMAE2010 [nan 'Ignorado' 'Sem_escolaridade' 'Fundamental_II_(5a_a_8a_serie)'
 'Fundamental_I_(1a_a_4a_serie)' 'Medio_(antigo_2o_Grau)'
 'Superior_incompleto' 'Superior_completo']

[ True False]
object
ESCMAEAGR1 [nan 'Ignorado' 'Sem_Escolaridade'
 'Fundamental_II_Incompleto_ou_Inespecifico' 'Fundamental_I_Incompleto'
 'Ensinomedio_Incompleto_ou_Inespecifico' 'Fundamental_II_Completo'
 'Fundamental_I_Incompleto_ou_Inespecifico' 'Ensino_Medio_Completo'
 'Fundamental_II_Incompleto' 'Superior_Incompleto'
 'Fundamental_I_Completo' 'Ensino_Medio_Incompleto' 'Superior_Completo']
time: 58.4 ms (started: 2023-09-04 17:51:32 +00:00)

### 6) Idade da mãe

> <b>Base de origem</b>: SIM.<br>
> <b>Tipo de variável</b>: Quantitativa discreta.<br>

> <b>Nome do campo</b>: <font color=blue>IDADEMAE</font>.<br>
> <b>Descrição do campo</b>: Números.<br>
> <b>Tipo do campo</b>: int64.<br>
> <b>Possui valores Nulos</b>: Não.<br>
> <b>Intervalo de valores</b>: Entre 11 e 60.<br>

In [ ]:
print(dados['IDADEMAE'].isna().unique())
print(dados['IDADEMAE'].dtype)
print('Entre %d e %s' %(dados['IDADEMAE'].min(), dados['IDADEMAE'].max()))
print('IDADEMAE {}'.format(sorted(dados['IDADEMAE'].unique())))

[False]
int64
Entre 11 e 60
IDADEMAE [11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 56, 58, 59, 60]
time: 7.62 ms (started: 2023-09-04 17:51:32 +00:00)

### 7) Idade do pai

> <b>Base de origem</b>: SINASC.<br>
> <b>Tipo de variável</b>: Quantitativa discreta.<br>

> <b>Nome do campo</b>: <font color=blue>IDADEPAI</font>.<br>
> <b>Descrição do campo</b>: Números.<br>
> <b>Tipo do campo</b>: float64.<br>
> <b>Possui valores Nulos</b>: Sim.<br>
> <b>Intervalo de valores</b>: 13 e 91.0.<br>

In [ ]:
print(dados['IDADEPAI'].isna().unique())
print(dados['IDADEPAI'].dtype)
print('Entre %d e %s' %(dados['IDADEPAI'].min(), dados['IDADEPAI'].max()))
print('IDADEPAI {}'.format(sorted(dados['IDADEPAI'].unique())))

[ True False]
float64
Entre 13 e 91.0
IDADEPAI [nan, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0, 78.0, 82.0, 87.0, 88.0, 90.0, 91.0]
time: 8.76 ms (started: 2023-09-04 17:51:32 +00:00)

In [ ]:
print('Quantidade NaN: {}'.format(dados['IDADEPAI'].isnull().sum()))
print('Percentual NaN: {}'.format(dados['IDADEPAI'].isnull().sum()/dados.shape[0]*100))

Quantidade NaN: 168377
Percentual NaN: 84.28458442624593
time: 2.76 ms (started: 2023-09-04 17:51:32 +00:00)

### 8) Local de nascimento

> <b>Base de origem</b>: SINASC.<br>
> <b>Tipo de variável</b>: Qualitativo nominal.<br>

> <b>Nome do campo</b>: <font color=blue>LOCNASC</font>.<br>
> <b>Descrição do campo</b>: Local de nascimento: 1 – Hospital; 2 – Outros estabelecimentos de saúde; 3 –
Domicílio; 4 – Outros; 5- Aldeia Indígena..<br>
> <b>Tipo do campo</b>: object.<br>
> <b>Possui valores Nulos</b>: Não.<br>
> <b>Intervalo de valores</b>: 'Domicilio', 'Hospital', 'Ignorado', 'Outro_Estab_Saude', 'Outros'.<br>

In [ ]:
print(dados['LOCNASC'].isna().unique())
print(dados['LOCNASC'].dtype)
print('LOCNASC {}'.format(sorted(dados['LOCNASC'].unique())))

[False]
object
LOCNASC ['Domicilio', 'Hospital', 'Ignorado', 'Outro_Estab_Saude', 'Outros']
time: 19.3 ms (started: 2023-09-04 17:51:32 +00:00)

### 9) Número de filhos vivos

> <b>Base de origem</b>: SIM e SINASC.<br>
> <b>Tipo de variável</b>: Quantitativo discreto.<br>

> <b>Nome do campo</b>: <font color=blue>QTDFILVIVO</font>.<br>
> <b>Descrição do campo</b>: Número de filhos vivos. (Número; 9 - igonorado).<br>
> <b>Tipo do campo</b>: float64.<br>
> <b>Possui valores Nulos</b>: Sim.<br>
> <b>Intervalo de valores</b>: Entre 0 e 20.0.<br>

In [ ]:
print('Quantidade NaN: {}'.format(dados['QTDFILVIVO'].isnull().sum()))
print('Percentual NaN: {}'.format(dados['QTDFILVIVO'].isnull().sum()/dados.shape[0]*100))

Quantidade NaN: 22847
Percentual NaN: 11.436537652924333
time: 2.37 ms (started: 2023-09-04 17:51:32 +00:00)

### 10) Número de consultas pré-natal

> <b>Base de origem</b>: SINASC.<br>

> <b>Nome do campo</b>: <font color=blue>CONSULTAS</font>.<br>
> <b>Descrição do campo</b>: Número de consultas de pré‐natal. Valores: 1– Nenhuma; 2– de 1 a 3; 3– de 4 a 6;
4– 7 e mais; 9– Ignorado..<br>
> <b>Tipo de variável</b>: Qualitativa ordinal.<br>
> <b>Tipo do campo</b>: object.<br>
> <b>Possui valores Nulos</b>: Sim (Ignorado).<br>
> <b>Intervalo de valores</b>: '7_e_mais' 'de_4_a_6' 'de_1_a_3' 'Nenhuma' 'Ignorado'.<br>


> <b>Nome do campo</b>: <font color=blue>CONSPRENAT</font>.<br>
> <b>Tipo de variável</b>: Quantitativo discreto.<br>
> <b>Descrição do campo</b>: Número de consultas pré‐natal.<br>
> <b>Tipo do campo</b>: float64.<br>
> <b>Possui valores Nulos</b>: Sim.<br>
> <b>Intervalo de valores</b>: Entre 0 e 99.0.<br>
>

In [ ]:
print(dados['CONSULTAS'].isna().unique())
print(dados['CONSULTAS'].dtype)
print('CONSULTAS {}'.format(sorted(dados['CONSULTAS'].unique())))
print()
print(dados['CONSPRENAT'].isna().unique())
print(dados['CONSPRENAT'].dtype)
print('Entre %d e %s' %(dados['CONSPRENAT'].min(), dados['CONSPRENAT'].max()))
print('CONSPRENAT {}'.format(sorted(dados['CONSPRENAT'].unique())))

[False]
object
CONSULTAS ['7_e_mais', 'Ignorado', 'Nenhuma', 'de_1_a_3', 'de_4_a_6']

[ True False]
float64
Entre 0 e 99.0
CONSPRENAT [nan, 0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 27.0, 30.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 45.0, 47.0, 70.0, 71.0, 99.0]
time: 29.1 ms (started: 2023-09-04 17:51:32 +00:00)

In [ ]:
print('Quantidade NaN: {}'.format(dados['QTDFILVIVO'].isnull().sum()))
print('Percentual NaN: {}'.format(dados['QTDFILVIVO'].isnull().sum()/dados.shape[0]*100))

Quantidade NaN: 22847
Percentual NaN: 11.436537652924333
time: 2.79 ms (started: 2023-09-04 17:51:32 +00:00)

### 11) Número de gestações anteriores

> <b>Base de origem</b>: SINASC.<br>

> <b>Nome do campo</b>: <font color=blue>QTDGESTANT</font>.<br>
> <b>Tipo de variável</b>: Quantitativa discreta.<br>
> <b>Descrição do campo</b>: Número de gestações anteriores.<br>
> <b>Tipo do campo</b>: float64.<br>
> <b>Possui valores Nulos</b>: Sim.<br>
> <b>Intervalo de valores</b>: Entre 0 e 42.0.<br>
> <b>Tipo de dados</b>: .<br>

In [ ]:
print(dados['QTDGESTANT'].isna().unique())
print(dados['QTDGESTANT'].dtype)
print('Entre %d e %s' %(dados['QTDGESTANT'].min(), dados['QTDGESTANT'].max()))
print('QTDGESTANT {}'.format(sorted(dados['QTDGESTANT'].unique())))

[ True False]
float64
Entre 0 e 42.0
QTDGESTANT [nan, 0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 19.0, 20.0, 21.0, 30.0, 39.0, 42.0]
time: 9.69 ms (started: 2023-09-04 17:51:32 +00:00)

In [ ]:
print('Quantidade NaN: {}'.format(dados['QTDFILVIVO'].isnull().sum()))
print('Percentual NaN: {}'.format(dados['QTDFILVIVO'].isnull().sum()/dados.shape[0]*100))

Quantidade NaN: 22847
Percentual NaN: 11.436537652924333
time: 2.86 ms (started: 2023-09-04 17:51:32 +00:00)

### 12) Número de partos cesáreos

> <b>Base de origem</b>: SINASC.<br>
> <b>Tipo de variável</b>: Quantitativo discreto.<br>

> <b>Nome do campo</b>: <font color=blue>QTDPARTCES</font>.<br>
> <b>Descrição do campo</b>: Número de partos cesáreos.<br>
> <b>Tipo do campo</b>: float64.<br>
> <b>Possui valores Nulos</b>: Sim.<br>
> <b>Percentual de valores nulos</b>: 20,9%.<br>
> <b>Intervalo de valores</b>: Entre 0 e 21.0.<br>

In [ ]:
print(dados['QTDPARTCES'].isna().unique())
print(dados['QTDPARTCES'].dtype)
print('Entre %d e %s' %(dados['QTDPARTCES'].min(), dados['QTDPARTCES'].max()))
print('QTDPARTCES {}'.format(sorted(dados['QTDPARTCES'].unique())))

[ True False]
float64
Entre 0 e 21.0
QTDPARTCES [nan, 0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 10.0, 11.0, 14.0, 20.0, 21.0]
time: 10.5 ms (started: 2023-09-04 17:51:32 +00:00)

In [ ]:
print('Quantidade NaN: {}'.format(dados['QTDPARTCES'].isnull().sum()))
print('Percentual NaN: {}'.format(dados['QTDPARTCES'].isnull().sum()/dados.shape[0]*100))

Quantidade NaN: 41772
Percentual NaN: 20.909837214424442
time: 4.31 ms (started: 2023-09-04 17:51:32 +00:00)

### 13) Número de partos vaginais

> <b>Base de origem</b>: SINASC.<br>
> <b>Tipo de variável</b>: Quantitativo discreto.<br>

> <b>Nome do campo</b>: <font color=blue>QTDPARTNOR</font>.<br>
> <b>Descrição do campo</b>: Número de partos vaginais.<br>
> <b>Tipo do campo</b>: float64.<br>
> <b>Possui valores Nulos</b>: Sim.<br>
> <b>Intervalo de valores</b>: Entre 0 e 60.0.<br>

In [ ]:
print(dados['QTDPARTNOR'].isna().unique())
print(dados['QTDPARTNOR'].dtype)
print('Entre %d e %s' %(dados['QTDPARTNOR'].min(), dados['QTDPARTNOR'].max()))
print('QTDPARTNOR {}'.format(sorted(dados['QTDPARTNOR'].unique())))

[ True False]
float64
Entre 0 e 60.0
QTDPARTNOR [nan, 0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 19.0, 20.0, 21.0, 22.0, 25.0, 30.0, 33.0, 36.0, 38.0, 39.0, 47.0, 60.0]
time: 12.4 ms (started: 2023-09-04 17:51:32 +00:00)

In [ ]:
print('Quantidade NaN: {}'.format(dados['QTDPARTNOR'].isnull().sum()))
print('Percentual NaN: {}'.format(dados['QTDPARTNOR'].isnull().sum()/dados.shape[0]*100))

Quantidade NaN: 26905
Percentual NaN: 13.467853352822218
time: 2.22 ms (started: 2023-09-04 17:51:32 +00:00)

### 14) Número de perdas fetais e abortos

> <b>Base de origem</b>: SINASC.<br>
> <b>Tipo de dados</b>: Quantitativo discreto.<br>

> <b>Nome do campo</b>: <font color=blue>QTDFILMORT</font>.<br>
> <b>Descrição do campo</b>: Número de perdas fetais e abortos.<br>
> <b>Tipo do campo</b>: float64.<br>
> <b>Possui valores Nulos</b>: Sim.<br>
> <b>Intervalo de valores</b>: Entre 0 e 20.0.<br>

In [ ]:
print(dados['QTDFILMORT'].isna().unique())
print(dados['QTDFILMORT'].dtype)
print('Entre %d e %s' %(dados['QTDFILMORT'].min(), dados['QTDFILMORT'].max()))
print('QTDFILMORT {}'.format(sorted(dados['QTDFILMORT'].unique())))

[False  True]
float64
Entre 0 e 20.0
QTDFILMORT [0.0, nan, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 20.0]
time: 14.8 ms (started: 2023-09-04 17:51:32 +00:00)

### 15) Óbito Neo Natal

> <b>Base de origem</b>: ?<br>
> <b>Tipo de dados</b>: Qualitativo nominal.<br>

> <b>Nome do campo</b>: <font color=blue>OBT_NEONATAL</font>.<br>
> <b>Descrição do campo</b>: .<br>
> <b>Tipo do campo</b>: object.<br>
> <b>Possui valores Nulos</b>: Não.<br>
> <b>Intervalo de valores</b>: 'Nao', 'Sim'.<br>

In [ ]:
print(dados['OBT_NEONATAL'].isna().unique())
print(dados['OBT_NEONATAL'].dtype)
print('OBT_NEONATAL {}'.format(sorted(dados['OBT_NEONATAL'].unique())))

[False]
object
OBT_NEONATAL ['Nao', 'Sim']
time: 32.2 ms (started: 2023-09-04 17:51:32 +00:00)

### 16) Número de semanas de gestação

> <b>Base de origem</b>: SIM e SINASC.<br>

> <b>Nome do campo</b>: <font color=blue>GESTACAO</font>.<br>
> <b>Descrição do campo</b>: Faixas de semanas de gestação (1 - Menos de 22 semanas; 2 - 22 a 27 semanas; 3 - 28 a 31 semanas; 4 - 32 a 36 semanas; 5 - 37 a 41 semanas; 6 - 42 e + semanas)+.<br>
> <b>Tipo do campo</b>: object.<br>
> <b>Possui valores Nulos</b>: Sim.<br>
> <b>Intervalo de valores</b>: '37_a_41_semanas' '32_a_36_semanas' '22_a_27_semanas' nan '42_semanas_e_mais' 'Ignorado' '28_a_31_semanas' 'Menos_de_22_semanas'.<br>
> <b>Tipo de dados</b>: .<br>

> <b>Nome do campo</b>: <font color=blue>SEMAGESTAC</font>.<br>
> <b>Descrição do campo</b>: Semanas de gestação com dois algarismos. (Números com dois algarismos; 9- igonorado).<br>
> <b>Tipo do campo</b>: float64.<br>
> <b>Possui valores Nulos</b>: Sim.<br>
> <b>Intervalo de valores</b>: Entre 19 e 45.0.<br>
> <b>Tipo de dados</b>: .<br>

In [ ]:
print(dados['GESTACAO'].isna().unique())
print(dados['GESTACAO'].dtype)
print('GESTACAO {}'.format(dados['GESTACAO'].unique()))
print()
print(dados['SEMAGESTAC'].isna().unique())
print(dados['SEMAGESTAC'].dtype)
print('Entre %d e %s' %(dados['SEMAGESTAC'].min(), dados['SEMAGESTAC'].max()))
print('SEMAGESTAC {}'.format(sorted(dados['SEMAGESTAC'].unique())))

[False  True]
object
GESTACAO ['37_a_41_semanas' '32_a_36_semanas' '22_a_27_semanas' nan
 '42_semanas_e_mais' 'Ignorado' '28_a_31_semanas' 'Menos_de_22_semanas']

[ True False]
float64
Entre 19 e 45.0
SEMAGESTAC [nan, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0]
time: 29 ms (started: 2023-09-04 17:51:32 +00:00)

### 17) Peso ao nascer em gramas

> <b>Base de origem</b>: SIM e SINASC.<br>
> <b>Tipo de dados</b>: Quantitativo discreta.<br>

> <b>Nome do campo</b>: <font color=blue>PESO (PESONASC)</font>.<br>
> <b>Descrição do campo</b>: Peso ao nascer, em gramas.<br>
> <b>Tipo do campo</b>: float64.<br>
> <b>Possui valores Nulos</b>: Sim.<br>
> <b>Intervalo de valores</b>: Entre 100 e 6180.0.<br>

In [ ]:
print(dados['PESO'].isna().unique())
print(dados['PESO'].dtype)
print('Entre %d e %s' %(dados['PESO'].min(), dados['PESO'].max()))
print('PESO {}'.format(sorted(dados['PESO'].unique())))

[False  True]
float64
Entre 100 e 6180.0

### 18) Sexo do recém-nascido

> <b>Base de origem</b>: SIM e SINASC.<br>
> <b>Tipo de dados</b>: Qualitativo nominal.<br>

> <b>Nome do campo</b>: <font color=blue>SEXO</font>.<br>
> <b>Descrição do campo</b>: Sexo: 1- M – Masculino; 2- F – Feminino; 0- I – ignorado.<br>
> <b>Tipo do campo</b>: object.<br>
> <b>Possui valores Nulos</b>: Não.<br>
> <b>Intervalo de valores</b>: 'Feminino' 'Masculino' 'Ignorado,_nao_informado'.<br>

In [ ]:
print(dados['SEXO'].isna().unique())
print(dados['SEXO'].dtype)
print('SEXO {}'.format(dados['SEXO'].unique()))

[False]
object
SEXO ['Feminino' 'Masculino' 'Ignorado,_nao_informado']
time: 24.5 ms (started: 2023-09-04 17:51:32 +00:00)

### 19) Situação conjugal da mãe

> <b>Base de origem</b>: SINASC.<br>
> <b>Tipo de dados</b>: Qualitativo nominal.<br>

> <b>Nome do campo</b>: <font color=blue>ESTCIVMAE</font>.<br>
> <b>Descrição do campo</b>: Situação conjugal da mãe: 1– Solteira; 2– Casada; 3– Viúva; 4–
Separada judicialmente/divorciada; 5– União estável; 9– Ignorada.<br>
> <b>Tipo do campo</b>: object.<br>
> <b>Possui valores Nulos</b>: Sim.<br>
> <b>Intervalo de valores</b>: 'Casada' 'Ignorado' 'Solteira' 'Uniao_consensual_(versoes_anteriores)' nan 'Separado_judicialmente/Divorciado' 'Viuva'.<br>

In [ ]:
print(dados['ESTCIVMAE'].isna().unique())
print(dados['ESTCIVMAE'].dtype)
print('ESTCIVMAE {}'.format(dados['ESTCIVMAE'].unique()))

[False  True]
object
ESTCIVMAE ['Casada' 'Ignorado' 'Solteira' 'Uniao_consensual_(versoes_anteriores)'
 nan 'Separado_judicialmente/Divorciado' 'Viuva']
time: 20.4 ms (started: 2023-09-04 17:51:32 +00:00)

### 20) Tipo de apresentação do RN

> <b>Base de origem</b>: SINASC.<br>
> <b>Tipo de variável</b>: Qualitativo nominal.<br>

> <b>Nome do campo</b>: <font color=blue>TPAPRESENT</font>.<br>
> <b>Descrição do campo</b>: Tipo de apresentação do RN. Valores: 1– Cefálico; 2– Pélvica ou podálica; 3–Transversa; 9– Ignorado..<br>
> <b>Tipo do campo</b>: object.<br>
> <b>Possui valores Nulos</b>: Sim.<br>
> <b>Intervalo de valores</b>: nan 'Ignorado' 'Cefalico' Pelvica_ou_podalica' 'Transversa'.<br>

In [ ]:
print(dados['TPAPRESENT'].isna().unique())
print(dados['TPAPRESENT'].dtype)
print('TPAPRESENT {}'.format(dados['TPAPRESENT'].unique()))

[ True False]
object
TPAPRESENT [nan 'Ignorado' 'Cefalico' 'Pelvica_ou_podalica' 'Transversa']
time: 18.3 ms (started: 2023-09-04 17:51:32 +00:00)

### 21) Tipo de gravidez

> <b>Base de origem</b>: SIM e SINASC.<br>
> <b>Tipo de variável</b>: Qualitativo ordinal.<br>

> <b>Nome do campo</b>: <font color=blue>GRAVIDEZ (TIPOGRAV)</font>.<br>
> <b>Descrição do campo</b>: Tipo de gravidez. (1 – única; 2 – dupla; 3 – tripla e mais; 9 – ignorada).<br>
> <b>Tipo do campo</b>: object.<br>
> <b>Possui valores Nulos</b>: Sim.<br>
> <b>Intervalo de valores</b>: 'Unica' 'Dupla' nan 'Tripla_e_mais' 'Ignorado'.<br>

In [ ]:
print(dados['GRAVIDEZ'].isnull().sum())
print(dados['GRAVIDEZ'].dtype)
print('GRAVIDEZ {}'.format(dados['GRAVIDEZ'].unique()))

35
object
GRAVIDEZ ['Unica' 'Dupla' nan 'Tripla_e_mais' 'Ignorado']
time: 17.8 ms (started: 2023-09-04 17:51:32 +00:00)

### 22) Tipo de partos

> <b>Base de origem</b>: SIM e SINASC.<br>
> <b>Tipo de variável</b>: Qualitativo nominal.<br>

> <b>Nome do campo</b>: <font color=blue>PARTO (TIPOPARTO)</font>.<br>
> <b>Descrição do campo</b>: Tipo de parto. (1 – vaginal; 2 – cesáreo; 9 – ignorado).<br>
> <b>Tipo do campo</b>: object.<br>
> <b>Possui valores Nulos</b>: Sim.<br>
> <b>Intervalo de valores</b>: 'Cesareo' 'Vaginal' nan.<br>

In [ ]:
print(dados['PARTO'].isna().unique())
print(dados['PARTO'].dtype)
print('PARTO {}'.format(dados['PARTO'].unique()))

[False  True]
object
PARTO ['Cesareo' 'Vaginal' nan]
time: 24.1 ms (started: 2023-09-04 17:51:32 +00:00)

### 23) Tipo de raça e cor da mãe

> <b>Base de origem</b>: SINASC.<br>
> <b>Tipo de dados</b>: Qualitativo nominal.<br>

> <b>Nome do campo</b>: <font color=blue>RACACORMAE</font>.<br>
> <b>Descrição do campo</b>: Tipo de raça e cor da mãe: 1– Branca; 2– Preta; 3– Amarela; 4– Parda; 5– Indígena.<br>
> <b>Tipo do campo</b>: float64.<br>
> <b>Possui valores Nulos</b>: Sim.<br>
> <b>Intervalo de valores</b>: Entre 1 e 9.0.<br>

In [ ]:
print(dados['RACACORMAE'].isna().unique())
print(dados['RACACORMAE'].dtype)
print('Entre %d e %s' %(dados['RACACORMAE'].min(), dados['RACACORMAE'].max()))
print('RACACORMAE {}'.format(dados['RACACORMAE'].unique()))

[ True False]
float64
Entre 1 e 9.0
RACACORMAE [nan  2.  4.  9.  1.  3.  5.]
time: 8.55 ms (started: 2023-09-04 17:51:32 +00:00)

## <font color=green>1.3 - Variáveis não utilizadas</font>
***

In [ ]:
for col in dados.drop(columns=['ANO', 'CODANOMAL', 'APGAR1', 'APGAR5',
                               'ESCMAE', 'ESCMAE2010', 'ESCMAEAGR1', 'SERIESCMAE',
                               'IDADEMAE','IDADEPAI', 'LOCNASC', 'CONSULTAS', 'CONSPRENAT',
                               'QTDFILVIVO', 'QTDGESTANT',  'QTDPARTCES', 'QTDPARTNOR',
                               'GESTACAO', 'SEMAGESTAC', 'PESO', 'SEXO',
                               'ESTCIVMAE', 'GRAVIDEZ', 'PARTO', 'RACACORMAE', 'OBT_NEONATAL',
                               'QTDFILMORT', 'TPAPRESENT']):
  print(col)
  print(dados[col].unique())
  print()

IDADE_OBT
[ nan 327. 102.   1.  15.  14. 161.   0.  43.   2.   6.  29.   4.  11.
 176.  45.   3.   7.  40. 259. 103. 139.   9. 153. 105.  25.  42. 171.
  61.  17.   5. 177.  13.  77.  10.  35.  36. 306.  18.   8.  51.  49.
 118.  44.  27.  20.  47.  21.  50.  68.  41. 320.  52.  58.  32.  67.
 202. 322. 243.  30.  71.  26.  16. 169. 135.  24. 111.  39.  37.  75.
  65. 116. 281.  38.  74.  60. 149.  23. 217. 254. 238.  22. 150.  56.
  28.  87. 332. 145.  72. 198. 166.  79. 270. 355.  82.  55. 147.  12.
 222. 131.  95. 141.  73. 286. 296. 212. 140.  53. 235.  78.  92. 278.
 255. 120. 181.  83. 130.  63. 129. 293. 123. 201.  34.  89. 172.  19.
 394. 121.  80. 186. 117. 125.  59.  48. 173. 256. 100. 209.  31. 107.
 218.  64. 113. 189. 338. 290.  81. 311. 158. 341. 144. 308.  57. 331.
 266. 249. 192. 204. 114. 197. 237. 324.  99. 537.  93. 104.  86. 349.
 326. 277.  33.  97. 305.  90.  84. 199.  62. 221. 190. 160. 138.  96.
 359.  76. 119. 115. 297. 269. 146. 133. 312. 316. 194. 318. 126. 128.
 223. 272. 282.  46. 257. 168. 213. 319. 136. 216.  66. 110. 289. 302.
 362. 283. 182. 350. 300. 232. 142. 206. 170. 231.  70. 285.  54. 162.
 252. 246. 233. 248. 260. 219. 307. 346. 288. 214. 220. 275. 203. 183.
 234. 187. 287. 251.  88. 242. 148. 227. 315. 258.  69. 276. 132. 151.
 157. 265. 303. 195. 321. 334. 244. 154. 345. 108. 325. 224. 163. 185.
 342. 156. 164. 365. 208. 112. 193. 109. 205. 236.]

IDANOMAL
['Nao' nan 'Ignorado' 'Sim']

SEM_NOME
[   781 170214 172507 ... 533436 533440 533487]

STCESPARTO
[nan 'Nao' 'Nao_se_aplica' 'Sim' 'Ignorado']

STDNNOVA
['Nao' 'Sim']

STTRABPART
[nan 'Nao' 'Sim' 'Ignorado']

TPDOCRESP
[nan 'CPF' 'COREN' '0' 'CNES' 'CRM' 'RG']

TPFUNCRESP
[nan 'Medico' 'Enfermeiro' 'Outros' 'Funcionario_do_cartorio' 'Parteira']

TPMETESTIM
[nan 'Exame_fisico' 'Ignorado' 'Outro_metodo']

TPNASCASSI
[nan 'Outros' 'Enfermeira/obstetriz' 'Medico' 'Ignorado' 'Parteira']

time: 83.7 ms (started: 2023-09-04 17:51:32 +00:00)

time: 94.2 ms (started: 2023-09-04 17:51:32 +00:00)